<div class="col-md">
  <a class="btn btn-lg btn-success">Create Student</a>
</div>

<div class="col-md mt-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">age</th>
          <th scope="col">DOB</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>student.name</td>
          <td>student.age</td>
          <td>student.dob in 'dd-MM-yyyy'</td>
          <td>
            <a class="btn btn-primary">View Student</a>&nbsp;
            <a class="btn btn-info">Edit Student</a>&nbsp;
            <button class="btn btn-danger">Delete Student</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
